@model IEnumerable<BrassDuckFF.Models.DB.Team>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.teamname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.League.leaguename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.teamname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.League.leaguename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.teamID }) |
            @Html.ActionLink("Details", "Details", new { id=item.teamID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.teamID })
        </td>
    </tr>
}

</table>
